body {
  background-color: grey;
}
h1 {
  text-align: center;
}
#row1 {
  border-bottom: 1px solid white;
}
.col-2 {
  /* border: 1px solid black; */
  /* background-color: #007bff; */
  color: white;
}
#row3 {
  padding: 10px;
}
.col-3 {
  padding-top: 10px;
}
