body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
h1 {
  text-align: center;
}
#row1 {
  border-bottom: 1px solid white;
}
.col-2 {
  color: white;
}
#row3 {
  padding: 10px;
}
.col-3 {
  padding-top: 10px;
}
